<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= generalConfig.application.name %> - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest CDN production JavaScript and CSS -->
    <script src="https://global.oktacdn.com/okta-signin-widget/4.3.2/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link href="https://global.oktacdn.com/okta-signin-widget/4.3.2/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="widget-container"></div>

    <script>
      const apiIdps = {
        'GFW': [{ type: 'FACEBOOK', id: '0oa7qf6idzRGkVZTU5d5' }]
      };

      const signIn = new OktaSignIn({
        baseUrl: 'https://dev-859268.okta.com',
        idps: apiIdps['<%= generalConfig.application.name %>'],
        features: {
          // Used to enable registration feature on the widget.
          // https://github.com/okta/okta-signin-widget#feature-flags
          registration: true // REQUIRED
        }
      });

      signIn.renderEl({ el: '#widget-container' }, function success(res) {
        if (res.status === 'SUCCESS') {
          console.log('Do something with this sessionToken', res.session.token);
          window.location.href = '/auth/success';
        } else {
          // The user can be in another authentication state that requires further action.
          // For more information about these states, see:
          //   https://github.com/okta/okta-signin-widget#rendereloptions-success-error
        }
      });
    </script>
  </body>
</html>
